.popup__name {
    width: 358px;
    height: 14px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 45px 0 30px;
    padding: 0 0 13px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

@media screen and (max-width: 768px) {
    .popup__name {
        width: 240px;
        margin-top: 75px;
    }
}