.element__button {
    background-image: url(../../../images/heart.svg);
    background-position: 50%;
    object-position: bottom;
    background-repeat: no-repeat;
    width: 21px;
    height: 18px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    transition: opacity .5s linear .1s;
}

.element__button:hover {
    opacity: .5;
}

.element__button:active {
    transition: none;
    opacity: 1;
    background-image: url(../../../images/heart_black.svg);
}